.content-wrap{
	background: url('../images/admin/background/background-seat-1080p.jpg') center center;
	background-size:cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	position: relative;
}
.register-box{
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%,-50%);
}
.login-box{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%,-50%);
}
.radio{
	margin: 10px auto;
}
.radio label{
	padding-left: 0px;
}
.radio label .iradio_square-blue{
	margin-right: 5px;
}
body{
	font-size:18px;
}
.btn-register{
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn-register button{
	font-size: 18px;
}
.btn-signin button{
	font-size: 18px;
}
