.sidebar-nav
{
    text-align: center;
}

/*.search li
{
    text-indent: 0px !important;
   	
}*/

button, input, select, textarea {

    /*line-height: 26px !important;*/
    margin-top: 5px !important;
}

.search li select
{
/*    line-height: 26px !important;*/
    background-color: transparent;    
    color: #ffffff;    
    border: 1px solid #FFFFFF;
}

.btn1 a
{
    text-transform: uppercase;
    font-size: 10px;
    line-height: 7px;
    display: inline-block;
    padding: 5px 15px;
    cursor:pointer;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}

.blackbtn
{
    background: transparent;
    border-radius: 2px;
    color: black;
    border-color: black;
    font-size: 11px;
    border-width: 1px;
}


.blackdrop
{
    background-color: transparent;
    color: black;
    border-radius: 2px;
    border: 1px solid black;
}

.navbtn
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
    color: black;
}


.selectc #tag{
    width: 100%;
    font-size: 8px;
    height: 15px;
    background: rgb(49, 47, 41);
    outline: white;
    border: 1px solid white;
}
.ui-autocomplete-input{
    width: 100%;
    font-size: 10px;
    height: auto;
    background: rgb(49, 47, 41);
    outline: white;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    height: 15px;
    line-height: 1;
    padding: 9px 4px;
}
.ui-menu-item{
    width: 100%;
    font-size: 10px;
    background: rgb(49, 47, 41);
    outline: white;
    border: 1px solid white;
    color: white;
    font-weight: 700;
}
.selectc .dates{
    width: 65%;
    font-size: 10px;
    height: auto;
    background: rgb(49, 47, 41);
    outline: white;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    height: 15px;
    line-height: 1;
    padding: 9px 4px;

}   
.ui-timepicker-input{
    width: 33%;
    font-size: 10px;
    height: auto;
    background: rgb(49, 47, 41);
    outline: white;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    height: 15px;
    line-height: 1;
    padding: 9px 4px;

}
.ui-timepicker-wrapper{
    width: 100% !important;
    font-size: 10px !important;
    background: rgb(49, 47, 41) !important;
    outline: white !important;

    border: 1px solid white !important;

    color: white !important;
    font-weight: 700 !important;
    height: 150px !important;
    width: 8.5em !important;
}